body{
padding: 0%;
margin: 0;
}

table{
    
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    height: 50px;
}
tr{
    border: 1px solid blanchedalmond;
    background-color: slategray;
}
tr:hover{
    background-color: silver;
    color: black;
}
td{
    border: 1px solid white;
    color: blanchedalmond;
    text-transform: capitalize;
}
td:hover{
    background-color: black;
    color: blanchedalmond;
    text-transform: capitalize;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    list-style: none;
}
#div1{
    background-color: rgb(110, 110, 110);
}
nav ul {
    width: 60%;
    margin: auto;
   
}
nav ul:hover{
    box-shadow: 2px 3px 3px 3px black;
    height: 60px;
}
nav ul li {
    background-color: black;
    color: burlywood;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    
}
nav ul li span{
    padding: 15px 40px;
    float: right;
}
nav ul li span:hover{
    color: black;
    background-color: white;
}
.img1{
    display: block;
    width: 960;
    height: 450px;
    margin: auto;
    margin-bottom: 30px;
}
.img1:hover{
    border-radius: 50px;
    width: 60%;
    box-shadow: 2px 3px 6px black;
    
}

footer{
    background-color: slategray;
    height: 70px;
}
.row{
    display: flex;
    width: 57%;
    margin: auto;
}
.row:hover{
    box-shadow: 2px 3px 3px black;
    
}
.img2{
    flex: 30%;
}

.fa-map-marker-alt{
    color: blanchedalmond;
}