body{
padding: 0%;
margin: 0;
}

table{
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
}
tr{
    border: 1px solid blanchedalmond;
    background-color: slategray;
}
tr:hover{
    background-color: silver;
    color: black;
}
td{
    border: 1px solid white;
    color: blanchedalmond;
    text-transform: capitalize;
}
td:hover{
    background-color: black;
    color: blanchedalmond;
    text-transform: capitalize;
    cursor: pointer;
}
a{
    text-decoration: none;
    list-style: none;
}
#div1{
    background-color: rgb(0, 21, 114);
}
nav ul {
    width: 60%;
    margin: auto;
   
}
nav ul li {
    background-color: rgb(155, 152, 152);
    color: burlywood;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    text-transform: capitalize;
}
nav ul li span{
    padding: 15px 40px;
    float: right;
}
nav ul li span:hover{
    color: black;
    background-color: white;
}
.img1{
    display: block;
    width: 960;
    height: 450px;
    margin: auto;
    margin-bottom: 30px;
}
.img1:hover{
    border-radius: 50px;
    width: 60%;
    box-shadow: 1px 2px 3px black;
}
footer{
    background-color: rgb(3, 35, 66);
    height: 70px;
    text-align: left;
    padding: 20px;
}
.row{
    display: flex;
    width: 57%;
    margin: auto;
}
.row:hover{
    box-shadow: 2px 3px 3px black;
}
.img2{
    flex: 30%;
}
.fa-map-marker-alt{
    color: blanchedalmond;
    margin: 10px;
}
header nav a {
    color: black;
    font: 15px  Arial, Helvetica, sans-serif;
    text-transform: capitalize;

}
fieldset {
    width: 60%;
    margin: 0 auto;
    background-color: #04752f;
}
form input{
    width: 30%;
    margin-top: 50px;
    border: 3px solid rgb(155, 155, 49);
    border-radius: 4px;
}
#submit-but{
    width: 10%;
    padding: 5px 75px 5px 30px;
    text-align: center;
    cursor: pointer;
    border: none;
}
#submit-but:hover{
    background-color: teal;
}
#location{
    margin-left: 120px;
    color: white;
    
}
